<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyou.order.mapper.OrderInformationMapper">


    <select id="queryOrder" resultType="com.leyou.order.pojo.OrderInformation">
        select tod.order_id,sku_id,num,title,own_spec,price,image from tb_order_detail tod
        left join tb_order_status tos on tod.order_id = tos.order_id
        left join tb_order tt on tt.order_id = tod.order_id
        WHERE  tt.user_id = #{userId}
        <if test="status != null and status != ''">
            AND tos.status = #{status}
        </if>
    </select>
</mapper>
